*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.logo{
    width: 20%;
    display: flex;
    /* justify-content: center; */
    justify-content: right;
    align-items: center;
}
.logo img{
    width: 20%;
    border: 3px solid white;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar{
    /* background-color: rgb(74, 68, 68); */
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}
.nav-list{
    /* background-color: rgb(63, 58, 58);s */
    width: 70%;
    /* background-color: black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.nav-list li{
    list-style: none;
    padding: 22px 14px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}
.rightNav{
    /* height: 100%; */
    /* background-color: rgb(63, 58, 58); */
    width: 30%;
    /* background-color: blueviolet; */
    text-align: right;
    padding: 0px 23px;
}
#search{
    padding: 5px;
    font-size: 17px;
    border: 2px solid red;
    border-radius: 9px;
}

.background{
    background: rgba(0,0,0,0.7) url('../img/back.jpg');
    background-size: cover;
    /* background-blend-mode:soft-light; */
}
.firstSection{
    height: 100vh;
}
.box-main{
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin: auto;
    height: 70%;
}
.firstHalf{
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondHalf{
    width: 30%;
}
.secondHalf img{
    /* width: 70%; */
    border: 2px solid white;
    border-radius: 200px;
    display: block;
    margin: auto;
}
/* -->agar koi container hain like div  hain toh uske content ko center krne ke liye margin auto kr do 
-->aur agar koi img tag hani aur apne width ke center mein nhi hian toh display black kr ke margin auto kr dein  */
.text-big{
    font-size: 31px;
    /* color: yellow; */
    /* color: red;
    font-weight: bold; */
}

.text-small{
    font-size: 18px;
}
.btn{
    padding: 6px 18px;
    margin: 7px 2px;
    border: 2px solid white;
    border-radius: 10px;
    font-size: 16px;
    background: none;
    /* background-color:orange; */
    color: white;
    cursor: pointer;
}
.btn-sm{
    padding: 5px 7px;
    vertical-align: center;
}
.btn-dark{
    color: black;
    border: 2px solid gray;
}

.section{
    /* height: 400px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: 34px auto;

    /* background-color: aliceblue; */
}
.section-Left{
    flex-direction: row-reverse;
    /* background-color: aliceblue; */
}
.paras{
    padding: 0 65px;
}
.thumbnail img{
    border: 2px solid black;
    border-radius: 8px;
}
.sectiontag{
    padding: 16px 0;
}
.contact{
    max-width: 70%;
    background-color: rgb(252, 248, 248);
    height: 550px;
    margin: auto;
}
.text-center{
    text-align: center;
    padding: 15px;
    font-size: 30px;
}
.form{
    max-width: 62%;
    /* display: block; */
    margin: auto;
}
.form-input{
    width: 100%;
    /* padding: 3px; */
    padding: 5px 3px;
    font-size: 18px;
    border: 2px solid grey;
    border-radius: 6px;
    text-align: center;
    margin: 10px 0;
}
.text-footer{
    text-align: center;
    padding: 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}

@media only screen and (max-width:1061px){
    .nav-list{
        flex-direction: column;
    }
    .navbar{
        height: 400px;
        flex-direction: column;
        transition: all 0.7s ease-out;
    }
    .logo{
        justify-content: center;
    }
    .navbar{
        flex-direction: column;
    }
    .rightNav{
        text-align: center;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .search{
        width: 100%;
    }
    .burger{
        display: block;
    }
    .h-nav-resp{
        height: 72px;
    }
    .v-class-resp{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
    }
    .text-small{
        text-align: center ;
    }
    .text-big{
        text-align: center;
    }
    .buttons{
        text-align: center;
    }
}
@media only screen and (max-width:450px){
    input{
        width: 90%;
    }
    .secondHalf img{
        margin: 0 -57px;
    }
}